# Node modules directory
/node_modules/

# Logs
*.log
logs/

# Environment variables
.env

# Vercel deployment files
.vercel/

# IDE and editor files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# npm package lock files (optional)
package-lock.json

# Local development files (optional)
*.env.local
*.env.development
*.env.production

# Build files
dist/
build/

# Other files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
